.report {
    padding: 20px;
    grid-template-columns: 40% 60%;
    display: grid;
    gap: 15px;
    animation: var(--fadeIn) 500ms;
}

.table--report {
    --blue: salmon;
}

.utils__title + span {
    font-size: 16px;
    width: 50%;
}
.utils__container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.utils__container > a {
	margin-right: 25px;
    width: 20%;
    text-align: center;
}
.table--salaries > .utils {
	flex-direction: column;
}
.table.table--evaluation-of-emp {
    grid-column: 1/3;
}
.content__roles,
.content__note,
.content__amount {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content__roles,
.header .role {
    text-align: end;
}

.content__amount,
.header .amount {
    text-align: center;
}
.full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.content .content__item > div {
	display: flex;
    padding: 16px 8px;
}

.content .content__item > div + div {
	border-top: 1px solid var(--blue);
}
.content .content__item > div > span:first-child {
	flex: 3;
}
.list-statist-evaluation-of-emp {
	list-style-type: square;
	margin-left: 38px;
	flex: 5;
}
.list-num-of-shift {
	display: flex;	
	flex-direction: column;
}
.list-num-of-shift > div{
	padding: 8px 4px;
}